.blog_card{
    width: 350px;
    box-shadow: 0 2px 5px 2px #00000010;
    border-radius: 5px;
}
.blog_card > img{
    width: 100%;
}
.blog_desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 7px;
    color: #4b4b4b;
}